RewriteEngine On
RewriteRule ^/?css/(.*)$ /$1 [L]
RewriteRule ^/?js/(.*)$ /$1 [L]
###RewriteRule ^$ /home [redirect]
RewriteRule ^(.+)/(.+)/?([a-zA-Z0-9/]*)$ public/app.php?class=$1&method=$2&query=$3 [QSA,L]

