##Show php errors on screen for debugging purposes
#php_flag display_errors 1
#php_value error_reporting 8191

#RewriteEngine On
#bluenose needs the indexing option
#Options +Indexes
#RewriteCond %{REQUEST_URI} !/css
#RewriteCond %{REQUEST_URI} !/js
##RewriteRule ^$ /home public/app.php?class=home&method=home
#RewriteRule ^(.+)/(.+)/?([a-zA-Z0-9/]*)$ public/app.php?class=$1&method=$2 [QSA,L]


##rickey's configuration
RewriteEngine On
RewriteBase /~esarve/wiki_class_notes
RewriteCond %{REQUEST_URI} !/css
RewriteCond %{REQUEST_URI} !/js
RewriteCond %{REQUEST_URI} !/img
RewriteRule ^(.+)/(.+)/?([a-zA-Z0-9/]*)$ public/app.php?class=$1&method=$2 [QSA,L]
RewriteRule ^$ public/app.php?class=home&method=home [QSA,L]
